body > main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 84vh;
}

main > section {
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    justify-content: center;
    align-content: start;
    user-select: none;
}

@media screen and (max-width: 640px) {
    main > section {
        gap: .7em;
    }
}
