body > main {
    height: 84vh;
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 2em;
    & > pre.line-numbers {
        flex-grow: 1;
        width: 50%;
        border: 2px solid var(--border-primary-color);
        border-radius: var(--container-border-radius);
        display: flex;
        justify-content: start;
        background-color: var(--dialog-bg-color);
    }
    & > section {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: .5em;
        & > p {
            display: flex;
            align-items: center;
            gap: .5em;
            font-weight: bold;
            & > span {
                display: flex;
                align-items: center;
                gap: .5em;
            }
            & > a {
                display: flex;
                align-items: center;
                gap: .5em;
                color: var(--bg-secondary-color);
            }
        }
        & > a {
            align-self: start;
        }
    }
}
#menu-profile {
    height: fit-content;
}
