body > main {
    min-height: 84vh;
    display: flex;
    padding: 1em;
    flex-direction: column;
    gap: 1em;
    & > section {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        justify-content: center;
        align-content: start;
    }
    & > h1 > a {
        color: var(--bg-secondary-color);
    }
}
#menu-profile {
    left: calc(100% - 12em);
    height: fit-content;
    max-width: 12em;
}
