body > main {
    min-height: 84vh;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: .5em;
    & > section:nth-of-type(1) {
        display: flex;
        justify-content: space-between;
        & > div:nth-child(1) {
            display: flex;
            align-items: center;
            gap: 1em;
            & > img {
                border-radius: 50%;
                width: 5em;
                height: 5em;
                object-fit: cover;
            }
            & > a {
                color: var(--bg-secondary-color);
                font-size: 1.2em;
                font-weight: bold;
            }
            & > span {
                font-weight: bold;
            }
        }
        & > div:nth-child(2) {
            display: flex;
            align-items: center;
            gap: 1em;
            & > a {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            & > button {
                display: flex;
                align-items: center;
                gap: 1em;
                padding-inline: 1.5em;
                &.liked {
                    background-color: transparent;
                    border-color: var(--bg-secondary-color);
                    & > svg {
                        fill: currentColor;
                        color: var(--bg-secondary-color);
                    }
                }
                & > span {
                    font-weight: bold;
                    font-size: 1.2em;
                }
            }
        }
    }
    hr {
        border: 2px solid var(--border-primary-color);
    }
    & > section:nth-of-type(2) {
        display: flex;
        gap: 2em;
        align-items: center;
        & > article {
            display: flex;
            align-items: center;
            gap: .5em;
            background-color: var(--dialog-bg-color);
            padding: .5em;
            border: 2px solid var(--border-primary-color);
            border-radius: var(--container-border-radius);
            &:first-child {
                cursor: pointer;
            }
            & > span {
                font-weight: bold;
                & > a {
                    color: var(--bg-secondary-color);
                    font-weight: normal;
                }
            }
            & > p > span {
                &:first-child {
                    font-weight: bold;
                }
                &:last-child {
                    color: var(--bg-secondary-color);
                }
            }
        }
        & > button {
            margin-left: auto;
        }
    }
}

dialog#branches {
    padding: 0;
    display: none;
    header {
        display: flex;
        align-items: center;
        gap: .5em;
        justify-content: center;
        padding: .5em 1em;
        font-weight: bold;
        svg:last-child {
            fill: currentColor;
            color: var(--bg-secondary-color);
            cursor: pointer;
        }
    }
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        li {
            list-style: none;
            width: 100%;
            text-align: center;
            font-weight: bold;
            padding: .5em 2em;
            &:first-child {
                border-top: 2px solid var(--border-primary-color);
            }
            &:not(:last-child) {
                border-bottom: 2px solid var(--border-primary-color);
            }
            &.primary {
                color: var(--bg-secondary-color);
            }
        }
    }
}
