body > main {
    min-height: 84vh;
    display: flex;
    padding: 1em;
    aside {
        width: 20%;
        display: flex;
        flex-direction: column;
        gap: .5em;
        border-right: 2px solid var(--border-primary-color);
        padding: 1.5em;
        hr {
            border: none;
            border: 2px solid var(--link-text-color);
        }
        form {
            display: flex;
            flex-direction: column;
            gap: .5em;
        }
    }
    & > section {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        padding: 1.5em;
        article.repository {
            width: 100%;
        }
    }
}

@media screen and (max-width: 640px) {
    body > main {
        flex-direction: column;
        aside {
            width: 100%;
            border: none;
            border-bottom: 2px solid var(--border-primary-color);
            form {
                display: flex;
                justify-content: center;
            }
            hr {
                width: 60%;
            }
        }
        section {
            width: 100%;
            padding: 1em 0;
            article {
                &.loading div {
                    height: 1em;
                    width: 25%;
                }
                &:not(.loading) div:first-child img {
                    width: 35%;
                }
            }
        }
    }
}
